{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Professional World by Ruslan Akmanov {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

</div></div></div>
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/bg2.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Ruslan Senior Tech Support Engineer</h1>
          <p class="lead text-white mt-3">
            Professional Page
            <br/>
            This page talks about my professional experience. 
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state1" countTo="54200">0</span>+</h1>
              <h5 class="mt-3">Solved Issues</h5>
              <p class="text-sm font-weight-normal">The page doesn't work. The page is broken. It's too slow to open. The button doesn't work.</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"> <span id="state2" countTo="40">0</span>+</h1>
              <h5 class="mt-3">Created Tools</h5>
              <p class="text-sm font-weight-normal">Routine automation tools, applications for home and work use</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state3" countTo="6">0</h1>
              <h5 class="mt-3">Sites</h5>
              <p class="text-sm font-weight-normal">Sites created during training and client projects (Django, Flask, Static)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="my-5 py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
            <div class="front front-background" style="background-image: url('{% static 'img/bg-front.jpg' %}'); background-size: cover;">
              <div class="card-body py-7 text-center">
                <i class="material-icons text-white text-4xl my-3">touch_app</i>
                <h3 class="text-white">Tech Support <br /> Engineer</h3>
                <p class="text-white opacity-8">Highly motivated specialist with development skills.</p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url('{% static 'img/bg-front2.jpg' %}'); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">Fast contact</h3>
                <p class="text-white opacity-8">Veteran worker, more than ten years of experience.</p>
                <a href="https://www.linkedin.com/in/ruslan-akmanov-759762213/" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Connect via Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3">Сreation of documentation</h5>
              <p class="pe-5">Created internal documentation system pages to share knowledge with others.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">flip_to_front</i>
              <h5 class="font-weight-bolder mt-3">Automation of routine</h5>
              <p class="pe-3">Developed tools to automate tasks and increase work efficiency.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5">
          <div class="col-md-6 mt-3">
            <i class="material-icons text-gradient text-primary text-3xl">price_change</i>
            <h5 class="font-weight-bolder mt-3">Employee mentoring</h5>
            <p class="pe-5">9 out of 10 employees worked for more than a year after training.</p>
          </div>
          <div class="col-md-6 mt-3">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3">Awards</h5>
              <p class="pe-3">Received awards as the best employee.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="my-5 py-5">
  
    <div class="row">
      <div class="col-lg-3">
        <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
          <h3>Recent places of work</h3>
          <h6 class="text-secondary font-weight-normal pe-3">I carefully chose the job, paying attention to the company's reputation and development opportunities.</h6>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row mt-3">
          <!-- Header -->


        </div>
        <div class="row mt-3">
          <!-- Features -->
<div class="col-12">
  <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
    <div class="container border-bottom">
      <div class="row justify-space-between py-2">
        <div class="col-lg-3 me-auto">
          <p class="lead text-dark pt-1 mb-0">SOLVO Group (2021 - now)</p>
        </div>
        <div class="col-lg-3">
          <div class="nav-wrapper position-relative end-0">

          </div>
        </div>
      </div>
    </div>
    <div class="tab-content tab-space">
      <div class="tab-pane active" id="preview-features-1">
        <iframe width="100%" height="500px" srcdoc='<!doctype html><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
          <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
          <!-- Material Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
          <link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
          <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 my-auto">
      <h3 class="mt-5 mt-lg-0">Company, Role & Projects</h3>
      <p class="pe-5">Solvo.WMS Warehouse Management. Sr. testing and maintaince engineer</p>
      <a href="https://www.solvo.ru/en/products/solvo-wms/" class="text-primary icon-move-right">More about Solvo
        <i class="fas fa-arrow-right text-sm ms-1"></i>
      </a>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-ship opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">I analyze SQL queries and can find bottlenecks in the software. Where is it slow? Why is it slow?<br>
            <br></p>
        </div>
      </div>

      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-handshake opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">I automate routine tasks (I often script chains of diagnostic commands, for example at my current job I wrote a log slicer to add to the bug)</p>
        </div>
      </div>
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-hourglass opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0"> I analyze logs (why the error, why it doesn`t work, etc.)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

          '></iframe>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
    <div class="container border-bottom">
      <div class="row justify-space-between py-2">
        <div class="col-lg-3 me-auto">
          <p class="lead text-dark pt-1 mb-0">Beget LLC (2018 - 2021)</p>
        </div>
        <div class="col-lg-3">
          <div class="nav-wrapper position-relative end-0">

          </div>
        </div>
      </div>
    </div>
    <div class="tab-content tab-space">
      <div class="tab-pane active" id="preview-features-1">
        <iframe width="100%" height="500px" srcdoc='<!doctype html><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
          <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
          <!-- Material Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
          <link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
          <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 my-auto">
      <h3 class="mt-5 mt-lg-0">Company, Role & Projects</h3>
      <p class="pe-5">Technical Support Engineer. Web hosting as it should be. Every day we offer the kind of service that you`ll want to recommend to your friends.</p>
      <a href="https://beget.com/en" class="text-primary icon-move-right">More about Beget LLC
        <i class="fas fa-arrow-right text-sm ms-1"></i>
      </a>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-ship opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Resolved issues related to website accessibility (DNS, routings, containers, disk space, code-bugs)</p>
        </div>
      </div>

      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-handshake opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Made a routine automation tool in Bash and Python and <br>Django.</p>
        </div>
      </div>
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-hourglass opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Technical interviews and subsequent training of new employees 9 out of 10 worked for more than a year.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

          '></iframe>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
    <div class="container border-bottom">
      <div class="row justify-space-between py-2">
        <div class="col-lg-3 me-auto">
          <p class="lead text-dark pt-1 mb-0">ER-Telecom JSC (2016 - 2018)</p>
        </div>
        <div class="col-lg-3">
          <div class="nav-wrapper position-relative end-0">

          </div>
        </div>
      </div>
    </div>
    <div class="tab-content tab-space">
      <div class="tab-pane active" id="preview-features-1">
        <iframe width="100%" height="500px" srcdoc='<!doctype html><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
          <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
          <!-- Material Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
          <link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
          <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 my-auto">
      <h3 class="mt-5 mt-lg-0">Company, Role & Projects</h3>
      <p class="pe-5">Telecommunications company. Tier 2 Support Engineer. ICP, IPTV</p>
      <a href="https://ertelecom.ru/en" class="text-primary icon-move-right">More about ER-Telecom
        <i class="fas fa-arrow-right text-sm ms-1"></i>
      </a>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-ship opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Solving problems connecting clients to the Internet (routers, switches, network)</p>
        </div>
      </div>

      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-handshake opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Constant communication with clients in order to solve their problem acting as a technical specialist.</p>
        </div>
      </div>
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-hourglass opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0">Interaction with network engineers when physical damage to lines is detected.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

          '></iframe>
      </div>

    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>


  <!-- -------- START Content Presentation Docs ------- -->
<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('{% static 'img/economic_shawarma_bg.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white">Home project</h4>
          <h1 class="text-white">Shawarma Calculator</h1>
          <p class="lead text-white opacity-8">My home project is a sayat on Flask, which gets kusr dram to ruble, fixes the price of shawarma in St. Petersburg and Yerevan, then recalculates how much shawarma can be bought for rubles, and how much for drams. [Skills: Python, Flask]</p>
          <a href="https://blog.ruslanakmanov.link/2023-05-10-Shawarma-Currency/" class="text-white icon-move-right">
            More details on my blog
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('{% static 'img/warehouse_data_monitoring_bg.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white">Independent work project</h4>
          <h1 class="text-white">Data monitoring with Grafana</h1>
          <p class="lead text-white opacity-8">To obtain and display server monitoring data, a tool was written that collects data from reports using python and bash, places it in MySQL and then transfers it to Grafana for plotting graphs and setting up notifications. [Skills: Python, Grafana, MySQL]</p>
          <a href="https://blog.ruslanakmanov.link/2024-02-19-Another-report-parser/" class="text-white icon-move-right">
            More details on my blog
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('{% static 'img/cut_server_logs_bg.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white">Independent work project</h4>
          <h1 class="text-white">Cut logs</h1>
          <p class="lead text-white opacity-8">The program quickly cuts fragments of the necessary logs based on the date and time of the error, archives them and prepares them for attachment to the bug text. [Skills: Python, Bash, grep, regex]</p>
          <a href="https://blog.ruslanakmanov.link/2023-04-05-Solvo-WMS-cutlogs/" class="text-white icon-move-right">
            More details on my blog
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('{% static 'img/cyberpunk_bg.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white">Home project</h4>
          <h1 class="text-white">Cyberpunk quote bot</h1>
          <p class="lead text-white opacity-8">A Telegram bot that, upon request, produces a pseudo random quote from bookreaders or a random image with a Creative Common license under the cyberpunk tag. [Skills: Python, Telethon, Linux]</p>
          <a href="https://blog.ruslanakmanov.link/2023-04-02-Quote-bot-idea/" class="text-white icon-move-right">
            More details on my blog
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('{% static 'img/ai_bg.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white">Home project</h4>
          <h1 class="text-white">AI personal assistent</h1>
          <p class="lead text-white opacity-8">The project that allowed me to dive into LLM, an AI-based assistant running on a local host, accessing whisper for text to speech and vice versa [Skills: AI, Llama, Python, LLM, Whisper, STT, TTS]</p>
          <a href="https://blog.ruslanakmanov.link/2023-04-02-Quote-bot-idea/" class="text-white icon-move-right">
            More details on my blog
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------- END Content Presentation Docs ------- -->


<section class="py-7">
      </div>
    <hr class="horizontal dark my-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-6 ms-auto">
        <img class="w-100 opacity-6" src="{% static 'img/er-telecom-logo_lg_gray.png' %}" alt="Logo">
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <img class="w-100 opacity-6" src="{% static 'img/solvo_logo_gray.png' %}" alt="Logo">
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <img class="w-100 opacity-6" src="{% static 'img/valuehosth1_gray.png' %}" alt="Logo">
      </div>
      <div class="col-lg-3 col-md-6 col-6 ms-lg-0 ms-md-auto">
        <img class="w-100 opacity-6" src="{% static 'img/beget-logo-alt_gray.png' %}" alt="Logo">
      </div>
    </div>
  </div>
</section>


<section class="py-sm-7" id="download-soft-ui">
  <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
    <img src="{% static 'img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-2">
    <div class="container py-7 postion-relative z-index-2 position-relative">
      <div class="row">
        <div class="col-md-7 mx-auto text-center">
          <h3 class="text-white mb-0">Are you looking for a curious, </h3>
          <h3 class="text-white">highly qualified engineer with extensive experience?</h3>
          <p class="text-white mb-5">Then you need to read my resume carefully and be sure to contact me for a more detailed conversation.</p>            
          <ul class="navbar-nav navbar-nav-hover ms-auto">
            <li class="nav-item my-auto ms-3 ms-lg-0">
              <a href="/static/docs/Resume_Akmanov.pdf" target="_blank"
                 class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">Download CV</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="text-center">
          <h3 class="mt-5 mb-4">Available on these technologies</h3>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a href="#" target="_blank">
                <img src="{% static 'img/Python.logo.png' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap 5 - Most popular front-end component library">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="#">
                <img src="{% static 'img/Tux.svg.png' %}" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;">
                <img src="{% static 'img/Bash_Logo_Colored.svg.png' %}" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="#">
                <img src="{% static 'img/django-python-computer-icons-logo-python-text-label.png' %}" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
             </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ms-auto">
        <h4 class="mb-1">Thank you for your attension!</h4>
        <p class="lead mb-0">I tried to make the site so that it would be pleasant to look at.</p>
      </div>
      <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
        <a href="https://twitter.com/intent/tweet?text=Ruslan%20Akmanov%20senior%20technical%20support%20engineer%2C%20IT%20engineer.%20%23python%20%23linux%20%23engineer%20url%3Dhttps%3A%2F%2Fresume.ruslanakmanov.link" class="btn btn-twitter mb-0 me-2" target="_blank">
          <i class="fab fa-twitter me-1"></i> Tweet
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://resume.ruslanakmanov.link" class="btn btn-facebook mb-0 me-2" target="_blank">
          <i class="fab fa-facebook-square me-1"></i> Share
        </a>
        <a href="https://www.pinterest.com/pin/create/button/?url=https://resume.ruslanakmanov.link" class="btn btn-pinterest mb-0 me-2" target="_blank">
          <i class="fab fa-pinterest me-1"></i> Pin it
        </a>
      </div>
    </div>
  </div>
</div>
<!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

</div>

{% endblock content %}

{% block javascripts %}

<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>


<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>

{% endblock javascripts %}
